.login-section,
.welcome-section {
  min-height: 100vh;
}
.login-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contenedor {
  display: flex;
  width: 300px;
  height: 40px;
  color: #fff;
  font-size: 40px;
  line-height: 40px;

  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
button.link-style {
  background: none;
  color: blue;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit; 
}

button.link-style:hover,
button.link-style:focus {
  text-decoration: none; 
  color: darkblue; 
}

.letter {
  text-align: center;
  list-style: none;
  padding-left: 10px;
  animation: cambiar 7s infinite;
}

.letter,
p {
  margin: 0;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }

  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }

  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }

  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }

  100% {
    margin-top: 0;
  }
}

.img {
  margin-left: auto;
  width: 90%;
}

.welcome-section-login {
  background-image: linear-gradient(to right, rgb(0, 0, 255), white);
  opacity: 5px;
  color: white;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .login-section {
    width: 100%;
  }
  .welcome-section {
    display: none;
  }
}
.form {
  width: 80%;
  padding: 15px;
  margin: auto;
}
.google-btn {
  border: none;
  background-color: #fff;
  color: #000;
  overflow: hidden;
}

.google-btn span {
  display: inline-block;
  transition: 0.1s;
}

.google-btn:hover .g { animation: grow 0.5s infinite; color: #db4437; }
.google-btn:hover .o1 { animation: grow 0.5s infinite 0.1s; color: #f4b400; }
.google-btn:hover .o2 { animation: grow 0.5s infinite 0.2s; color: #f4b400; }
.google-btn:hover .l { animation: grow 0.5s infinite 0.3s; color: #4285f4; }
.google-btn:hover .e { animation: grow 0.5s infinite 0.4s; color: #0f9d58; }

@keyframes grow {
  0%, 100% { transform: scale(1); }
}

